build/
build-heap/
build-stdio/
build-stdcbench/
build-float/
build-whetstone/
build-whetstone-mame/
SCB-WC.CMD
build-owtests/
build-owtests-mame/
build-diskio/
build-diskio-mame/
build-cpp/
cppfeat.cmd
mame_cpptest.cmd
hello_ios.cmd
build-lib/
build-diskio-ibm/
build-fscanf/
build-streamio/
build-farheap/
build-farheap-small/
build-lib-mm/
MEDTEST.CMD

# largehello test build outputs
test/largehello/*.CMD
test/largehello/*.map
